
.equipo{
    width: 100%;
    /* background-color: #D9F7E9; */
    padding: 34px 100px 37px 100px;
    box-sizing: border-box;
    text-align: center;

    position: relative;
}

.equipo h3{
    color: #212121;
    font-size: 32px;
    font-weight: 400;
    /* border-bottom: 4px solid #57C278; */
    display: inline-block;
    padding-bottom: 9.9px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}
